<h1 style="text-align: center;">Congratulations, you accessed a not secret route!</h1>
<h1 (click)="count = count + 1" [ngStyle]="{ 'text-align': 'center', 'cursor': 'pointer', 'color': 'red'}">{{ text }}{{ count }}</h1>
<button pButton label="Show" (click)="show()"></button>
<button pButton label="Hide" (click)="hide()"></button>

<p-sidebar *ngIf="config.visible"
  [(visible)]="config.visible"
  (onHide)="config.visible = false"
  position="right"
  appendTo="body">
  Not Secret Demo Content
</p-sidebar>